.UpBlock{
position: fixed;
background-color: rgb(120, 172, 85);
height: 130px;
width: 100%;
top: 0;
left: 0;
z-index: 9999;
}

.vertical-line {
  border-left: 1px solid grey;
  /* 2px 宽的黑色垂直线 */
  height: 370px;
  /* 线的高度 */
  position: absolute;
  margin-left: 600px;
  margin-top: 10px;
}


.moveDown {
  margin-top: 30px;
}

.MoveUp {
  margin-top: -110px;
}

.MOVEDOWN {
  margin-top: 100px;
}

.UserImage2 {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: fill;
  position: absolute;

}

.editprofile {
  margin-left: 67px;
  margin-top: -10px;
  color: black;
  position: absolute;
  text-decoration: none;
}

.user_account2 {
  margin-left: 67px;
  margin-top: 5px;
  color: black;

}

.profileblock {
  background-color: rgb(255, 255, 255);
  height: 530px;
  width: 870px;
  transform: translate(560px, -53px);
  text-align: left;
  padding-left: 30px;
  padding-top: 20px;
  margin-top: 200px;
  position: absolute;
}



.myprofile {
  margin-top: 0px;
  color: rgb(0, 0, 0);
  font-size: 30px;
}

.manageP {
  color: rgb(0, 0, 0);
  font-size: 20px;
  margin-top: -30px;
}

.LeftSideBodden {
  position: absolute;
  width: 200px;
  height: 300px;
  margin-left: 330px;
  margin-top: 180px;
}

.closeline {
  text-decoration: none;
}

.usericon {
  margin-top: 10px;
  margin-left: 5px;
  height: 20px;
  width: 20px;
}

.labelMyaccount {

  margin-left: 38px;
  margin-top: -22px;
  color: black;
}

.AddressLabel {
  margin-left: 38px;

  color: black;
}

body {
  color: rgb(0, 0, 0);
  background-color: rgb(223, 223, 223)
}

.imageUpdateBoss {
  position: absolute;
  width: 205px;
  height: 25px;
  top: 120px;
  left: 660px;
}

.UserImage {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: fill;
  position: absolute;

}

.imgaccept {
  position: absolute;
  top: 215px;
  left: 10px;
}



.userAccountLabel {
  margin-left: 1px;
}

.userAccountTextLabel {
  margin-left: 20px;
  width: 400px;
  height: 25px;

}

.userAccountNotices {

  margin-left: 117px;
  margin-top: 7px;

}

.userNameLabel {
  margin-left: 50px;
}

.userNameTextLabel {
  margin-left: 20px;
  height: 25px;
  width: 400px;

}

.EmailLabel {
  margin-left: 45px;

}

.EmailTextLabel {
  display: inline-block;
  margin-left: 20px;
}

.emailSubmit {
  margin-left: 10px;
  color: blue;
  border-color: aliceblue;
}

.emailOTP {
  display: none;
}

.emailOTPLabel {
  position: absolute;
  top: 95px;
  left: 110 px;

}

.emailOTPtext {
  position: absolute;
  top: 95px;
  left: 145px;

}

.OTPverify {
  position: absolute;
  top: 95px;
  left: 326px;
}

.PhoneNumberLabel {
  margin-left: -3px;
}

.PhoneNumberTextLabel {
  display: inline-block;
  margin-left: 20px;
}

.PhoneNumberSubmit {
  margin-left: 10px;
  color: blue;
  border-color: aliceblue;
}

.GenderLabel {
  margin-left: 42px;

}

input[type="radio"] {
  margin-left: 22px;
  margin-right: 10px;
  transform: scale(1.3);
  accent-color: red;
}

input[type="radio"]+label {
  color: rgb(0, 0, 0);
  /* 选中时的字体颜色 */
}



.DateOfBirth {
  margin-left: 5px;

}

.DateOfBirthLabel {
  margin-left: 22px;
}


.save_button {
  width: 410px;
  height: 30px;
  margin-left: 100px;
  font-size: 20px;
}


.layerEM11,
.layerPN11 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

}

.layerEM22,
.layerPN22 {

  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 200px;
  text-align: center;
  background-color: white;

}

.layertext {
  font-size: 20px;
  margin-top: 10px;
}

.buttonA {
  margin-top: 15px;
  margin-right: 10px;
}

.buttonB {
  margin-top: 15px;
  margin-left: 10px;
}

.addresspath {
  color: black;
  text-align: center;
}