.square {
    width: 500px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    border-style: outset;
    margin: 150px auto;
}

#forgot-admin-password {
    color: rgb(29, 99, 142);
    position: relative;
    top: 20px;
    left: 60px;
}

#forgot-admin-password-subtitle {
    color: rgb(29, 99, 142);
    position: relative;
    top: 20px;
    left: 60px;
}

#pincode {
    color: rgb(29, 99, 142);
    position: relative;
    top: 20px;
    left: 60px;
}

#pincodeinput {
    width: 370px;
    height: 40px;
    margin-left: 60px;
    border-radius: 5px;
}

#buttonpincode {
    width: 375px;
    height: 40px;
    margin-left: 60px;
    margin-top: 40px;
    background-color: rgb(29, 99, 142);
    color: white;
    font-weight: bold;
    border: solid;
    border-color: black;
}

#Backlogin {
    display: block;
    text-align: center;
    margin-top: 40px;
}

#erroremail {
    color: red;
    
    margin-left: 60px; /* 与其他元素对齐 */
}