adminerror{
    display:block;
    color:red;
}
.square {
    width: 500px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    border-style: outset;
    margin: 150px auto;
}

h3{
    color: rgb(29, 99, 142);
    position: relative;
    top: 20px;
    left: 60px;
}

#inputpincode{
    width: 280px;
    height: 40px;
    margin-left: 60px;
    border-radius: 5px;
}

#questioninput{
    width: 280px;
    height: 40px;
    margin-left: 60px;
    border-radius: 5px;
}

#getpincodebutton{
    width: 100px;
    height: 40px;
    border-radius: 5px;
}

#submitpincode{
    width: 100px;
    height: 40px;
    border-radius: 5px;
}